#Footer {
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.959);
}

.left {
  display: flex;
  flex-flow: column;
  gap: 3rem;
}

.time-info {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.time-info h4 {
  font-weight: 600;
  color: var(--text-color);
}

.timings {
  color: var(--text-color);
}

.extra-info {
  color: white;
  margin-left: 2.5rem;
}

.contact-details {
  color: white;

}

.mail a {
  color: white;
  text-decoration: underline;
}

.phone-number img,
.mail-id img {
  width: 1.3rem;
  filter: invert(100%);
  margin-right: .8rem;
}

.mid {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.follow-credential {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: white
}

.follow-credential .attributes {
  text-align: center;
  width: 100%;
  border-bottom: 1px solid white;
}

.follow-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.follow-credential img {
  width: 1.9rem;
}

.right iframe {
  border-radius: 1.2rem;
}